<div class="mission<%= mission.completed ? " completed" : "" %>">
  <table>
    <tr><td><span class="theader">target</span></td><td><%= mission.target %></td></tr>
    <tr><td><span class="theader">location</span></td><td><%= mission.location %></td></tr>
    <tr><td><span class="theader">mo</span></td><td><%= mission.mo %></td></tr>
  </table>

  <ul class="links">
    <% if not mission.completed %>
    <li><a href="/missions/<%= mission.id %>/complete" class="complete">complete</a></li>
    <li><a href="/missions/<%= mission.id %>/update">update</a></li>
    <% end %>
    <li><a href="/missions/<%= mission.id %>/delete" class="delete">delete</a></li>
  </ul>
</div>