<div id="updatemission">
  <form action="/missions/<%= mission.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <table id="updatemissiontable">
      <tr><td class="theader">target</td><td><input type="text" name="target" value="<%= mission.target %>"></td></tr>
      <tr><td class="theader">location</td><td><input type="text" name="location" value="<%= mission.location %>"></td></tr>
      <tr><td class="theader">mo</td><td><input type="text" name="mo" value="<%= mission.mo %>"></td></tr>
    </table>

    <ul class="links">
    <li><a href="/missions/<%= mission.id %>" class="save">save</a></li>
  </ul>

  </form>
</div>